// primary colors
$primary-teal: #008080;
$primary-gray: #a9a9a9;
$primary-green: #123132;

// secondary colors
$secondary-brown: #b97f6d;
$secondary-green: #2a4647;
$secondary-gray: #f5f5f5;

// other colors
$error-color: #f60419;
$error-color-lighten: #fee6e8;
$common-white: white;
