// Oswald
@font-face {
    font-family: 'OswaldRegular';
    src: url('/fonts/Oswald/Oswald-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'OswaldBold';
    src: url('/fonts/Oswald/Oswald-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'OswaldLight';
    src: url('/fonts/Oswald/Oswald-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'OswaldSemiBold';
    src: url('/fonts/Oswald/Oswald-SemiBold.ttf') format('ttf');
}

// Oxygen 
@font-face {
    font-family: 'OxygenRegular';
    src: url('/fonts/Oxygen/Oxygen-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'OxygenBold';
    src: url('/fonts/Oxygen/Oxygen-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'OxygenLight';
    src: url('/fonts/Oxygen/Oxygen-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}